<div class="container">
    <h1>About Me</h1>
    <div class="row">
        <div class="col-md-8">
            <p>
                Welcome to my blog! My name is Ahmed, and I'm a passionate software engineer.
                I created this blog to share my knowledge and experiences in web development, programming,
                and technology.
            </p>
            <p>
                When I'm not coding, I enjoy reading books, traveling, and spending time with my family.
                Feel free to explore my blog and reach out if you have any questions or just want to say hi!
            </p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Quick Facts</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Name:</strong> Ahmed</li>
                    <li class="list-group-item"><strong>Location:</strong> El mansoura, Egypt</li>
                    <li class="list-group-item"><strong>Profession:</strong> Web Developer</li>
                    <li class="list-group-item"><strong>Hobbies:</strong> Coding, Reading, Traveling</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>