<div class="container">
    <h1>Contact Me</h1>
    <div class="row">
        <div class="col-md-4">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Contact Information</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Email:</strong> ahmedmohamed2000771@gmail.com</li>
                <li class="list-group-item"><strong>Phone:</strong> +201554092578</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>